
/*Reservation Page   background-color: #495e57;*/
.booking-form .title {
  background-image: url(images/littlelemon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
}

.booking-form .title h1 {
  font-family: Markazi Text;
  text-align: center;
  font-size: 74px;
  font-weight: 500;
  padding-top: 5%;
  color:#f4ce14;
  text-shadow: 2px 2px 4px #474747;
}

.booking-form form {
  padding: 8% 12%;
}

.booking-form form h2 {
  text-align: left;
  font-family: Karla;
  font-size: 28px;
  margin-top: 0;
}

.booking-form form .border {
  width: 200px;
  height: 5px;
  background-color: #f4ce14;
  border: none;
  margin-bottom: 4%;
}

.booking-form form .user-details {
  margin: 12px 0 12px 0;
  padding: 0px 0px 5px 20px;

}


.booking-form form .user-details .row .col {
  font-family: Karla;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.booking-form form .user-details .row .col input,select {
  border-radius: 4px;
  border: 1px solid #ccc;
}


.booking-form form .user-details label{
  margin-left: 24%;
}

.booking-form form .user-details input {
  width: 180px;
  border-radius: 6px;
  background-color: #edefee;
  padding: 10px 16px;
  margin-left: 0px;
}

.booking-form select {
  padding: 10px 20px;
  background-color: #edefee;
  color: #495e57;
  font-family: Karla;
  font-size: 18px;
  font-weight: 500;
}

.booking-form textarea {
  margin-top: 8px;
  width: 85%;
  height: 150px;
  background-color: #edefee;
  color: #333333;
   border-radius: 4px;
}

.booking-form .notes {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  padding-left: 0;
}

.booking-form .bookingbtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.booking-form .book-Btn {
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 15px;
  padding: 12px 30px;
  background-color: rgb(244, 205, 20);
  color: #495e57;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.booking-form form .AvailabilityBtn:hover {
  background-color: rgb(244, 205, 20, 0.9);
}


/*ABout & Inquiries*/
.inquiries-page {
  background-color: #edefee;
  font-family: Karla;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self:center;
}

.inquiries-page .flex-container {
  margin: 25px 0;
}

.inquiries-page .flex-container .row {
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.inquiries-page .flex-container .row  .col {
  padding: 10px 40px;
}

.inquiries-page .flex-container .res-bottom-list h6 {
  text-align: left;
   font-size: 18px;
  font-weight: 600;
  color: #495e57;
}

.inquiries-page .flex-container .col .res-bottom-list {
  margin-top: 0;
}

.inquiries-page .flex-container .res-bottom-list  a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(109, 109, 109);
  align-items: left;
  font-size: 14px;
  font-weight: 500;
}

.inquiries-page .flex-container .res-bottom-list a:hover {
  color: #495e57;
}

.inquiries-page .privacy-section {
  font-family: Karla;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.inquiries-page .privacy-section  .privacy {
    display: flex;
      flex-direction: row;
  justify-content: space-between;
}

.inquiries-page .privacy-section .privacy a {
  justify-content: space-between;
  text-decoration: none;
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-weight: 500;
  padding: 0;
    margin: 0 30px;
}

.inquiries-page .privacy-section .privacy a:hover {
  color: rgb(109, 109, 109, 0.8);
}

/* social-links*/
.social-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links-list .social-links {
  margin: 12px 16px;
}

.socialLink footer {
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

/* confirmed Booking page*/
.confirmed-page {
  background-image: url(images/littlelemon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
}

.confirmed-page .confirmed-message {
  background-color: #edefee;
  margin: 15% 8% 5% 8%;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 3px 4px 4px rgba(48, 48, 48, 0.1);
}

.confirmed-page .confirmed-message h2 {
  color: #495e57;
  font-size: 34px;
  padding-bottom: 8px;
  text-align: center;
}

.confirmed-page .confirmed-message h5 {
  font-size: 22px;
  color: #333333;
  padding-bottom: 8px;
  text-align: center;
}

.confirmed-page .confirmed-message h4 {
  font-size: 20px;
  color: #333333;
  padding-bottom: 8px;
  text-align: center;
}

 .confirmed-page .redirect-buttons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-self: center;
 }

.confirmed-page .redirect-buttons > div {
  display: inline-block;
  margin: 8px 24px;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}

.confirmed-page .redirect-buttons > div a {
  text-decoration: none;
  border: 1px solid #495e57;
  border-radius: 8px;
  padding: 8px 12px;
  color: #333333;
  margin: 0px 10px;
  align-items: center;
}

.confirmed-page .redirect-buttons > div a:hover {
  border: 1px solid #495e57;
  border-radius: 8px;
  background-color: #f4ce14;
  padding: 8px 12px;
  color: #495e57;
  transition: 1s ease-in-out;
   align-items: center;
}


/* LogIn Page */
.login-form h1{
  font-family:Karla;
  text-align: center;
  color:#495e57 ;
  font-size: 36px;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.login-form .form-box {
width: 350px;
padding: 58px 44px;
background-color: #f4ce14;
box-shadow: 2px 3px 7px #edefee;
border-radius: 8px;
}

.login-form form{
  align-items: center;
}

.login-form .form-text {
  font-family: Karla;
  font-size: 18px;
  font-weight: 500;
}

.login-form  .rememberMe{
    font-family: Karla;
  font-size: 18px;
  font-weight: 500;
  color: #4e4e4e;
}
.login-form .form-button{
   font-family: Karla;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
}
.login-form .inputField{
  width: 250px;
  font-family:Karla;
  background-color:#edefee;
  color:#333333 ;
  border: none;
  border-radius: 6px;
  border-bottom: 1px solid rgba(white, 0.5);
  padding:8px;
  margin: 6px 0px;
}

.login-form .inputField::placeholder {
    font-family:Karla;
    color: rgba(#495e57, 1);
    font-size: 18px;
    font-weight: 500;
    padding-left:8px;
  }
.login-form .inputField:focus {
    font-family:Karla;
    color: #495e57;
    outline: none;
    border-bottom: 1.2px solid rgba(#495e57, 0.7);
    font-size: 1em;
    transition: .8s all ease;
}
 .login-form .inputField:focus::placeholder {
     font-family:Karla;
      opacity: 0;
    }

    .login-form button {
  border: 1px solid #495e57;
  border-radius: 8px;
  padding: 4px 12px;
  color:#495e57;
}

.login-form button:hover {
  background-color: rgba(73, 94, 87,0.9);
  color:#edefee;
  transition:background-color 1s ease-out;
}


