@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Markazi+Text:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi-Text:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Markazi+Text:wght@400;500;600;700&display=swap");


.App nav .container-fluid .navbar-brand img {
  height: 45px;
     margin-left: 2%;
    padding: 0;
}

.navbar {
    background-color: #edefee;
}

.navbar-nav .nav-link {
  font-family: Markazi Text;
  font-weight: 400;
  font-size: 26px;
  color: rgba(73, 94, 87);
    margin: 0 25px;
    padding: 0;
}

.navbar-nav .nav-link:hover {
  color: rgba(73, 94, 87, 0.8);
}


/* Hero section*/
.hero-section {
  background-image: url(./images/Mario\ and\ Adrian\ A.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 700px;
}

.hero-section .flex-container {
  height: 700px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.964) 7.4%,
    hsla(0, 0%, 0%, 0.918) 15.3%,
    hsla(0, 0%, 0%, 0.862) 23.4%,
    hsla(0, 0%, 0%, 0.799) 31.6%,
    hsla(0, 0%, 0%, 0.73) 39.9%,
    hsla(0, 0%, 0%, 0.655) 48.2%,
    hsla(0, 0%, 0%, 0.577) 56.2%,
    hsla(0, 0%, 0%, 0.497) 64%,
    hsla(0, 0%, 0%, 0.417) 71.3%,
    hsla(0, 0%, 0%, 0.337) 78.1%,
    hsla(0, 0%, 0%, 0.259) 84.2%,
    hsla(0, 0%, 0%, 0.186) 89.6%,
    hsla(0, 0%, 0%, 0.117) 94.1%,
    hsla(0, 0%, 0%, 0.054) 97.6%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

.hero-section .flex-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 14% 32% 8% 16%;
}

.hero-section .flex-container .row .col h1 {
  font-family: Markazi Text;
  font-size: 64px;
  font-weight: 400;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  color: #f4ce14;
}

.hero-section .flex-container .row .col .city {
  font-family: Karla;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  color: #edefee;
}

.hero-section .flex-container .row .col .description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 45px;
  padding-right: 35%;
  color: #edefee;
}

.hero-section .flex-container .row .col a {
  border: none;
  border-radius: 8px;
  padding: 16px;
  background-color: #f4ce14;
  color: #495e57;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition:  background-color 1s;
}

.hero-section .flex-container .row .col a:hover {
 box-shadow:2px 2px 8px 2px #edefee; 
}

.hero-section .flex-container .row .col a:focus,
.hero-section .flex-container .row .col a:active {
  background-color: #495e57;
  color: #f4ce14;
  transition: none;
}

/*Specials*/
.specials {
  margin:5% auto;
  padding: 0;
}

.flex-row {
  flex-direction: row! important;
}

.d-flex{
  display: flex!important;
    margin-bottom: 4%;
}

.specials .d-flex span{
  display: inline-block;
background-color: #f4ce14;
}

.orange-wedge-L .invert {
  display: inline-block;
}

.invert {
  transform: scaleX(-1) scaleY(-1);
  margin-right: -1px;
}

.orange-wedge-L {
  background-color: #f4ce14;
  position: relative;
  width:20px;
  height:100%;
  margin-left:-1px;
  padding: 0;
  clip-path: polygon(0 0, 100% 0, 1px 100%, 0 100%);
}

.specials .container .row h1 {
  font-family: Markazi Text;
  font-weight: 450;
  font-size: 58px;
  color: #495e57;
  background-color: #f4ce14;
  margin: 0;
    padding: 0 20px;
}

.specials .container .row   {
 display: flex;
  justify-content: center;
}


.specials .container .row .col {
    padding: 10px 15px;
    margin: 0;
}

.specials .container .row .col .card {
  width: 300px;
  padding: 0px;
  margin:0px;
}

.specials .container .card .card-body {
  text-align: left;
  margin: 12px 10px 0px;
}

.specials .container .card-body h4 {
    color: #424242;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specials .container .card-body small {
  font-size: 18px;
  color: red;
}

.specials .container .card-body  p {
  font-size: 15px;
  text-align: left;
  color: #777777;
  margin: 0;
}

.specials .container .order-delivery {
  align-items: flex-start;
}

.specials .container .order-delivery a {
  text-decoration: none;
  background-color: rgba(73, 94, 87);
  padding: 8px 15px;
  margin: 0px 0px 5px 8px;
  font-size: 14px;
  font-weight: 600;
  color: #edefee;
  border-radius: 5px;
  transition: 2s ease-in-out;
  font-family: Karla;
}

.specials .container .order-delivery a:hover {
  background-color: rgba(73, 94, 87, 0.9);
  color: #edefee;
}

/*Testimonials*/
.testimonials {
  background-color: #495e57;
  padding: 50px 0%;
}

.testimonials .sub-heading {
  margin: 0 auto;
}

.testimonials .sub-heading h1 {
  color: #edefee;
  font-family: Markazi Text;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0px;
  text-align: center;
}

.testimonials .border {
  width: 190px;
  height: 5px;
  background-color: #fbdabb;
  margin: 20px auto;
}

.testimonials .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4% auto;
  padding: 0;
}

.testimonials .container .row {
  display: flex;
  flex-wrap: wrap;
}

.testimonials .container .row .col {
    padding: 0;
    margin: auto;
}

.testimonials .container .row .col .review-card {
width: 280px;
  padding:0px;
  background-color: rgb(86,112,102);
  margin: 6px 6px;
  border-radius: 18px;
}


.testimonials .container .row .col .review-card:hover  {
  padding:0px;
background-color: rgb(86,112,102,0.9);
  margin: 6px 6px;
  border-radius: 18px;
}

.testimonials .container .row .col .avatar {
  margin: 20px auto;
}

.testimonials .container .row .col .card_content {
    padding:6% 10%;
}

.testimonials section strong {
  color: #edefee;
  font-size: 18px;
  font-weight: 350;
}

.testimonials section p {
  color: #edefee;
  text-align: left;
  font-size: 14px;
  font-weight: regular;
  line-height: 22px;
}

.testimonials .container .review-star {
     display: flex;
   flex-wrap:wrap;
   justify-content: center;
   align-items: center;
  color: #f4ce14;
  margin: 10px auto;
}

/*About - Chicago.js*/
.about-section {
  padding: 10px 15%;
  margin: 5% 0 5% 0;
}

.about-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.about-section .container .res-image {
  margin: 0 auto;
}

.about-section .container .res-image img {
   width:400px;
  border-radius: 45px 0 45px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.about-section .container .about-summary h1 {
  font-family: Markazi Text;
  font-weight: 500;
  font-size: 58px;
  font-weight: 400;
  line-height: 77px;
  color: #495e57;
  margin: 0;
  padding: 0;
}

.about-section .container .underline {
  width: 250px;
  height: 5px;
  background-color: #f4ce14;
  margin-bottom: 16px;
}

.about-section .container .row .col .about-summary .city {
  font-family: Karla;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  color: #495e57;
}

.about-section .container .about-summary p {
  font-family: Karla;
  font-size: 18px;
  line-height: 28px;
  padding-right: 5px;
  color: #555555;
}

/*Footer*/
.footer-section {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  background-color: #edefee;
  padding: 30px 14%;
  max-width: 100%;
}

.footer-section .container .row {
  margin: 25px 0 15px 0;
}

.footer-section .container img {
  position: relative;
  top: 22px;
  width: 80px;
  height: 140px;
}

.footer-section .container .col {
  font-family: Karla;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  text-align: left;
  color: rgb(129, 129, 129);
  line-height: 22px;
}

.footer-section .container p {
  font-size: 18px;
  padding: 0;
  font-weight: 450;
  text-align: left;
  color: #333333;
  font-family: Karla;
}

.footer-section .col a {
  text-decoration: none;
  color: rgb(129, 129, 129);
    font-weight: 400;
}

.footer-section .col a:hover {
  text-decoration: underline;
  color: rgb(90, 90, 90);
   font-weight: 400;
}

.footer-section .container .social-link-icons .social-icons {
  display: flex;
  flex-wrap: wrap;
}

.social-icons  .icons {
  margin-right: 10px;
}

/*Reservation Page   background-color: #495e57;*/
.booking-form .title {
  background-image: url(images/littlelemon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
}

.booking-form .title h1 {
  font-family: Markazi Text;
  text-align: center;
  font-size: 74px;
  font-weight: 500;
  padding-top: 5%;
  color:#f4ce14;
  text-shadow: 2px 2px 4px #474747;
}

.booking-form form {
  padding: 8% 12%;
}

.booking-form form h2 {
  text-align: left;
  font-family: Karla;
  font-size: 28px;
  margin-top: 0;
}

.booking-form form .border {
  width: 200px;
  height: 5px;
  background-color: #f4ce14;
  border: none;
  margin-bottom: 4%;
}

.booking-form form .user-details {
  margin: 12px 0 12px 0;
  padding: 0px 0px 5px 20px;

}


.booking-form form .user-details .row .col {
  font-family: Karla;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.booking-form form .user-details .row .col input,select {
  border-radius: 4px;
  border: 1px solid #ccc;
}


.booking-form form .user-details label{
  margin-left: 24%;
}

.booking-form form .user-details input {
  width: 180px;
  border-radius: 6px;
  background-color: #edefee;
  padding: 10px 16px;
  margin-left: 0px;
}

.booking-form select {
  padding: 10px 20px;
  background-color: #edefee;
  color: #495e57;
  font-family: Karla;
  font-size: 18px;
  font-weight: 500;
}

.booking-form textarea {
  margin-top: 8px;
  width: 85%;
  height: 150px;
  background-color: #edefee;
  color: #333333;
   border-radius: 4px;
}

.booking-form .notes {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  padding-left: 0;
}

.booking-form .bookingbtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.booking-form .book-Btn {
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 15px;
  padding: 12px 30px;
  background-color: rgb(244, 205, 20);
  color: #495e57;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.booking-form form .AvailabilityBtn:hover {
  background-color: rgb(244, 205, 20, 0.9);
}


/*ABout & Inquiries*/
.inquiries-page {
  background-color: #edefee;
  font-family: Karla;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self:center;
}

.inquiries-page .flex-container {
  margin: 25px 0;
}

.inquiries-page .flex-container .row {
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.inquiries-page .flex-container .row  .col {
  padding: 10px 40px;
}

.inquiries-page .flex-container .res-bottom-list h6 {
  text-align: left;
   font-size: 18px;
  font-weight: 600;
  color: #495e57;
}

.inquiries-page .flex-container .col .res-bottom-list {
  margin-top: 0;
}

.inquiries-page .flex-container .res-bottom-list  a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(109, 109, 109);
  align-items: left;
  font-size: 14px;
  font-weight: 500;
}

.inquiries-page .flex-container .res-bottom-list a:hover {
  color: #495e57;
}

.inquiries-page .privacy-section {
  font-family: Karla;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.inquiries-page .privacy-section  .privacy {
    display: flex;
      flex-direction: row;
  justify-content: space-between;
}

.inquiries-page .privacy-section .privacy a {
  justify-content: space-between;
  text-decoration: none;
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-weight: 500;
  padding: 0;
    margin: 0 30px;
}

.inquiries-page .privacy-section .privacy a:hover {
  color: rgb(109, 109, 109, 0.8);
}

/* social-links*/
.social-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links-list .social-links {
  margin: 12px 16px;
}

.socialLink footer {
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

/* confirmed Booking page*/
.confirmed-page {
  background-image: url(images/littlelemon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
}

.confirmed-page .confirmed-message {
  background-color: #edefee;
  margin: 15% 8% 5% 8%;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 3px 4px 4px rgba(48, 48, 48, 0.1);
}

.confirmed-page .confirmed-message h2 {
  color: #495e57;
  font-size: 34px;
  padding-bottom: 8px;
  text-align: center;
}

.confirmed-page .confirmed-message h5 {
  font-size: 22px;
  color: #333333;
  padding-bottom: 8px;
  text-align: center;
}

.confirmed-page .confirmed-message h4 {
  font-size: 20px;
  color: #333333;
  padding-bottom: 8px;
  text-align: center;
}

 .confirmed-page .redirect-buttons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-self: center;
 }

.confirmed-page .redirect-buttons > div {
  display: inline-block;
  margin: 8px 24px;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}

.confirmed-page .redirect-buttons > div a {
  text-decoration: none;
  border: 1px solid #495e57;
  border-radius: 8px;
  padding: 8px 12px;
  color: #333333;
  margin: 0px 10px;
  align-items: center;
}

.confirmed-page .redirect-buttons > div a:hover {
  border: 1px solid #495e57;
  border-radius: 8px;
  background-color: #f4ce14;
  padding: 8px 12px;
  color: #495e57;
  transition: 1s ease-in-out;
   align-items: center;
}


/* LogIn Page */
.login-form h1{
  font-family:Karla;
  text-align: center;
  color:#495e57 ;
  font-size: 36px;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.login-form .form-box {
width: 350px;
padding: 58px 44px;
background-color: #f4ce14;
box-shadow: 2px 3px 7px #edefee;
border-radius: 8px;
}

.login-form form{
  align-items: center;
}

.login-form .form-text {
  font-family: Karla;
  font-size: 18px;
  font-weight: 500;
}

.login-form  .rememberMe{
    font-family: Karla;
  font-size: 18px;
  font-weight: 500;
  color: #4e4e4e;
}
.login-form .form-button{
   font-family: Karla;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
}
.login-form .inputField{
  width: 250px;
  font-family:Karla;
  background-color:#edefee;
  color:#333333 ;
  border: none;
  border-radius: 6px;
  border-bottom: 1px solid rgba(white, 0.5);
  padding:8px;
  margin: 6px 0px;
}

.login-form .inputField::placeholder {
    font-family:Karla;
    color: rgba(#495e57, 1);
    font-size: 18px;
    font-weight: 500;
    padding-left:8px;
  }
.login-form .inputField:focus {
    font-family:Karla;
    color: #495e57;
    outline: none;
    border-bottom: 1.2px solid rgba(#495e57, 0.7);
    font-size: 1em;
    transition: .8s all ease;
}
 .login-form .inputField:focus::placeholder {
     font-family:Karla;
      opacity: 0;
    }

    .login-form button {
  border: 1px solid #495e57;
  border-radius: 8px;
  padding: 4px 12px;
  color:#495e57;
}

.login-form button:hover {
  background-color: rgba(73, 94, 87,0.9);
  color:#edefee;
  transition:background-color 1s ease-out;
}

/* about content*/
.about-content  {
  background:linear-gradient(to top, #869c95 0%,  #F4CE14 100%);
  padding: 12% 0px;
  max-width:100%;
  max-height: max-content;
}

.about-content .container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width:700px;
  margin: 0 auto;
}

.about-content .container .about-main {
  margin-top: 0px;
  padding-bottom: 8%;
}

.about-content .container .about-main h1{
  font-family: Markazi Text;
  font-size: 48px;
 text-align: center;
 margin-bottom:12px;
 color: #edefee;
 text-shadow: 2px 3px 3px #495e57;
}

.about-content .container .about-main p {
  font-family: Karla;
  font-size: 18px;
  font-weight: 550;
  text-indent: 10px;
  color: #495e57;
}

.about-content .container  .time {
  font-family: Karla;
  font-size: 20px;
  font-weight: 500;
  color:#495e57;
  margin: 10px 0px;
    text-shadow: 2px 3px 3px #edefee;
}

.about-content .container .logo-separator {
  width: 20px;
  margin: 10px 16px;
  padding: 10px 0px;
  transform: rotate(38.54deg);

}

.about-content .container .connector {
  height: 60px;
  color: #333333;
}

.about-content .container .content-description {
  font-family: Karla;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
   margin: 10px 0px;
}

/*menu*/
.menu-content  {
  background: #FFFFF9;
  max-width: 100%;
  padding:12% 0px;
}


.menu-content .container{
margin: 0 auto;
padding: 0 4%;
}

.menu-content .container .row .col .LeftSide {
  border-bottom: dotted;
  border-right: dotted;
  width: 200px;
  align-items: left;
}

.menu-content .container .row .col .LeftSide p {
  text-align: center;
   color: #495e57;
}

.menu-content .container .row .col .RightSide {
  border-bottom: dotted;
  border-left: dotted;
  width: 200px;
  align-items: right;
}

.menu-content .container .row .col .RightSide p {
 text-align: center;
  color: #495e57;
}

.menu-content .container .row .col  .name {
font-family: Markazi Text;
font-size: 24px;
  padding: 0;
  margin: 0;
}

.menu-content .container .row .col  .email {
  font-family: Markazi Text;
  font-size: 20px;
  padding: 0;
    margin: 0;
}

.menu-content .container .row .col .number{
    font-family: Markazi Text;
  font-size: 20px;
  padding: 0;
    margin: 0;
}

.menu-content.container .row .col p {
  color: #495e57;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu-content .container .row .col img{
  width: 250px;
  margin: 0 auto;
  align-items: center;
}

.Restaurant-Menu .container  {
  border-radius: 8px;
  margin-top:3% ;
  padding: 4% 0px;
  height: max-content;
}

.Restaurant-Menu .container .underline {
  width: 400px;
  border: 2px dashed #EDEFEE;
  border-radius: 8px;
 margin: 8px 0 6px 0;
}

.Restaurant-Menu .container .row .col h2{
  font-family: Karla;
  font-weight: medium;
  font-size: 24px;
  color:#495e57;
}

.Restaurant-Menu .container .row .col ul{
  list-style: none;
  font-family: Markazi Text;
  font-size: 24px;
  text-align: left;
  margin:5% 0 10% 0;
  padding-left: 0;

}

.Restaurant-Menu .container .row .col ul li {
  margin: 8px 0;
    color: rgb(95, 90, 68, 1);
}

.Restaurant-Menu .container .row .col .prices li {
  color: rgb(95, 90, 68, 1);
  margin-left: 40%;
  font-style: italic;
}
.Restaurant-Menu .container  .bottom-line {
  font-family: Karla;
  font-size: 18px;
  font-weight: medium;
  margin: 16px 0 0 0;
  padding: 0;
}
