@media screen and (min-width:1201px) /* 1201px and bigger screen*/{
    /* navbar */
.navbar {
    background-color:#edefee;
  }
  .App  nav .container-fluid .navbar-brand img {
    height: 45px;
    margin-left: 2%;
    padding: 0;
  }

  .navbar-nav .nav-link {
    font-size: 24px;
    margin: 0 30px;
    padding: 0;
  }

  /* hero section */
 .hero-section {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .hero-section .flex-container {
    height: 700px;
  }

  .hero-section .flex-container .row {
    padding:10% 22% 5% 16%;
  }

  .hero-section .flex-container .row .col h1 {
    font-size: 70px;
  }

  .hero-section .flex-container .row .col .city {
        font-family: Markazi Text;
    font-size: 26px;
  }

  .hero-section .flex-container .row .col .description {
    font-size: 18px;
    margin-bottom: 50px;
    padding-right: 50%;
  }

  .hero-section .flex-container .row .col a {
    font-size: 25px;
    margin: 0 0px;
  }
}